.venv/
__pycache__/
logs/
frontend/
htmlcov/
dist/
build/
*.pyc
.env
celerybeat-schedule
celerybeat-schedule.db
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
.pytest_cache/
.coverage
*.egg-info/
